<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Angular Application Debug</title>
  
  
  <!-- CSS  -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
    <div class="container" ng-app="myApp">
        <div ng-controller="ACtrl" list-errors>
            <div class="input-group">
                <label for="name" class="input-group-addon">Your name please:</label>
                <input id="name" class="form-control" ng-model="naem" />
            </div>
            <div class="input-group">
                <p>Hello {{name}}!</p>
            </div>
            <div class="input-group">
                <label for="search" class="input-group-addon"><i class="fa fa-search fa-fw"></i>
    
                </label>
                <input id="search" class="form-control" ng-model="search" />
            </div>
            <div class="list-group">
                <p class="list-group-item" ng-repeat="fruit in fruist | filter:search">{{fruit}}</p>
            </div>
        </div>
    </div>
    
  <!--  Scripts-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
  <script src="http://underscorejs.org/underscore-min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.min.js"></script>
  <script src="js/app.js"></script>

  </body>
</html>