<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Angular Application Debug</title>
  
  
  <!-- CSS  -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="style/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="style/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
    <div class="container" ng-app="app">
        <div data-ng-controller="DebugCtrl as vm" rd-debug>
            <div class="input-group">
                <label for="name" class="input-group-addon">Your name please:</label>
                <input id="name" class="form-control" ng-model="vm.nmae" />
            </div>
            <div class="input-group">
                <p>Hello {{vm.name}}!</p>
            </div>
            <div class="input-group">
                <label for="search" class="input-group-addon"><i class="fa fa-search fa-fw"></i>
    
                </label>
                <input id="search" class="form-control" ng-model="vm.search" />
            </div>
            <div class="list-group">
                <p class="list-group-item" ng-repeat="car in vm.cars | filter:vm.search">{{car}}</p>
            </div>
        </div>
    </div>
    
  <!--  Scripts-->
  
  <!-- Vendor -->
  <script src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-cookies.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="http://underscorejs.org/underscore-min.js"></script>
  <script src="app/materialize.min.js"></script>
  <!-- End Vendor -->
  
  <!-- Bootstrapping -->
  <script src="app/app.module.js"></script>
  
  <!-- Reusable Modules -->
  
  <!-- Core Modules -->
  <script src="app/core/config.js"></script>
  <script src="app/core/dbg.js"></script>
  
  <!-- Factories -->
  <!--<script src="app/factories/debug.controller.js"></script>-->
  
  <!-- Controllers -->
  <script src="app/controllers/debug.controller.js"></script>
  
  <!-- Directives -->
  <script src="app/directives/rdDebug.directive.js"></script>
  
  </body>
</html>